In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_sub = pd.read_csv('sample_submission.csv')

In [20]:
df_train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [21]:
df_train.drop('ID_code', axis = 1, inplace = True)
df_test.drop('ID_code', axis = 1, inplace = True)

In [22]:
df_train.isna().sum()[df_train.isna().sum() > 0]

Series([], dtype: int64)

In [23]:
df_test.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [24]:
df_train['target']

0         0
1         0
2         0
3         0
4         0
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: target, Length: 200000, dtype: int64

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X = df_train.drop('target', axis = 1)
y = df_train['target']

In [28]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train)
X_val_s = scaler.transform(X_val)

In [107]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.optimizers import Adam

In [164]:
model = Sequential([
    Dense(512, activation='relu', input_shape=(200,)),
    BatchNormalization(),
    Dropout(0.3),

    Dense(256, activation='relu'),
    BatchNormalization(),
    Dropout(0.3),

    
    Dense(128, activation='relu'),
    BatchNormalization(),
    Dropout(0.3),

    Dense(1, activation='sigmoid')
])

In [165]:
model.compile(
    optimizer=Adam(learning_rate=0.001),
    loss='binary_crossentropy',
    metrics=['AUC']
)

In [166]:
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau

callbacks = [
    EarlyStopping(patience=5, restore_best_weights=True),
    ReduceLROnPlateau(patience=3, factor=0.5)
]

In [167]:
from sklearn.utils import class_weight

In [168]:
class_weights = class_weight.compute_class_weight(
    'balanced', classes=np.unique(y_train), y=y_train
)
class_weights_dict = dict(enumerate(class_weights))

In [169]:
model.fit(
    X_train_s, y_train,
    validation_data=(X_val_s, y_val),
    epochs=50,
    batch_size=512,
    callbacks=callbacks,
    class_weight=class_weights_dict
)

Epoch 1/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - AUC: 0.8004 - loss: 0.5613 - val_AUC: 0.8617 - val_loss: 0.4870 - learning_rate: 0.0010
Epoch 2/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.8615 - loss: 0.4652 - val_AUC: 0.8648 - val_loss: 0.4160 - learning_rate: 0.0010
Epoch 3/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.8754 - loss: 0.4425 - val_AUC: 0.8651 - val_loss: 0.4095 - learning_rate: 0.0010
Epoch 4/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.8848 - loss: 0.4260 - val_AUC: 0.8649 - val_loss: 0.3950 - learning_rate: 0.0010
Epoch 5/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.8936 - loss: 0.4090 - val_AUC: 0.8640 - val_loss: 0.4041 - learning_rate: 0.0010
Epoch 6/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9022 - loss: 0.3921 - val_AUC: 0.8615 - val_loss: 0.3943 - learning_rate: 0.0010
Epoch 7/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9082 - loss: 0.3786 - val_AUC: 0.8607 - val_loss: 0.3957 - learning_rate: 0.0010
Epoch 8/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9137 - loss: 0.3666 - val_AUC: 0.8607 - val_loss: 0.3710 - learning_rate: 0.0010
Epoch 9/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9195 - loss: 0.3525 - val_AUC: 0.8579 - val_loss: 0.3728 - learning_rate: 0.0010
Epoch 10/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9234 - loss: 0.3434 - val_AUC: 0.8561 - val_loss: 0.3720 - learning_rate: 0.0010
Epoch 11/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9276 - loss: 0.3328 - val_AUC: 0.8561 - val_loss: 0.3521 - learning_rate: 0.0010
Epoch 12/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9311 - loss: 0.3241 - val_AUC: 0.8560 - val_loss: 0.3621 - learning_rate: 0.0010
Epoch 13/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9344 - loss: 0.3144 - val_AUC: 0.8551 - val_loss: 0.3473 - learning_rate: 0.0010
Epoch 14/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9368 - loss: 0.3082 - val_AUC: 0.8533 - val_loss: 0.3564 - learning_rate: 0.0010
Epoch 15/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9401 - loss: 0.2996 - val_AUC: 0.8514 - val_loss: 0.3508 - learning_rate: 0.0010
Epoch 16/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9417 - loss: 0.2942 - val_AUC: 0.8526 - val_loss: 0.3732 - learning_rate: 0.0010
Epoch 17/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9501 - loss: 0.2715 - val_AUC: 0.8511 - val_loss: 0.3376 - learning_rate: 5.0000e-04
Epoch 18/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9528 - loss: 0.2620 - val_AUC: 0.8486 - val_loss: 0.3422 - learning_rate: 5.0000e-04
Epoch 19/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9553 - loss: 0.2544 - val_AUC: 0.8460 - val_loss: 0.3402 - learning_rate: 5.0000e-04
Epoch 20/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9563 - loss: 0.2507 - val_AUC: 0.8452 - val_loss: 0.3531 - learning_rate: 5.0000e-04
Epoch 21/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9601 - loss: 0.2384 - val_AUC: 0.8441 - val_loss: 0.3515 - learning_rate: 2.5000e-04
Epoch 22/50
313/313 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - AUC: 0.9614 - loss: 0.2345 - val_AUC: 0.8434 - val_loss: 0.3570 - learning_rate: 2.5000e-04

In [170]:
max(model.history.history["val_AUC"])

0.8651255369186401

In [171]:
df_test_s = scaler.transform(df_test)

In [172]:
y_pred = model.predict(df_test_s).ravel()

6250/6250 ━━━━━━━━━━━━━━━━━━━━ 7s 1ms/step

In [173]:
y_pred

array([7.2877419e-01, 5.3314775e-01, 8.0562878e-01, ..., 1.5067987e-04,
       8.7200478e-04, 4.2102143e-02], shape=(200000,), dtype=float32)

In [174]:
df_sub['target'] = y_pred

In [175]:
df_sub.to_csv('sub.csv', index = False)